[submodule "roles/ansible-role-dataset"]
	path = roles/ansible-role-dataset
	url = https://github.com/futuresystems/ansible-role-dataset.git
	branch = master
[submodule "roles/ansible-role-opencv"]
	path = roles/ansible-role-opencv
	url = https://github.com/futuresystems/ansible-role-opencv
	branch = master
[submodule "roles/ansible-role-analytics"]
	path = roles/ansible-role-analytics
	url = https://github.com/futuresystems/ansible-role-analytics.git
	branch = master
[submodule "roles/ansible-role-mesos-by-mesosphere"]
	path = roles/ansible-role-mesos-by-mesosphere
	url = https://github.com/lee212/ansible-role-mesos-by-mesosphere.git
	branch = master
[submodule "roles/ansible-role-spark-for-mesos"]
	path = roles/ansible-role-spark-for-mesos
	url = https://github.com/lee212/ansible-role-spark-for-mesos.git
	branch = master
